@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$pewter-blue: #9dbcc4;
$light-periwinkle: #C7CCDB;
$charcoal: #343A45;
$dark-blue-gray: #5C5D8D;
$yellow: #FCD46F;
$queen-pink: #E8C2CA;
$silver-metallic: #A7A2A9;

$primary: $dark-blue-gray;
$secondary: $yellow;

$body-bg: $light-periwinkle;
$body-color: $charcoal;
$input-border-width: 0;

$font-family-sans-serif: 'Poppins';

@import "node_modules/bootstrap/scss/bootstrap";

body {
  overflow-x: hidden;
}

.navbar {
  background-color: $charcoal;
  color: $queen-pink;
}

.slider {
  margin-top: 15px;
  margin-left: 4px;
  margin-right: 4px;
}

.range {
  margin-top: 12px;
}

.card-columns {
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
}

.home-card {
  background: lighten($body-bg, 15%);
  color: $body-color;
}

.home-card:hover {
  background: $white;
}

.card-price {
  position: absolute;
  z-index: 2;
  right: 0px;
  background-color: $secondary;
}

.home-card-img {
    position: relative;
    z-index: 1;
}

// .home-card-title {
//   white-space: nowrap;
//   text-overflow: ellipsis;
// }

// .home-details-title {

// }

.home-details-card {
  background: lighten($body-bg, 15%);
}

.details-img {
  width: 100%;
}

.filter-input {
  background: darken($charcoal, 5%);
}