$pewter-blue: #9dbcc4;
$light-periwinkle: #C7CCDB;
$slate-gray: #707D94;
$dark-blue-gray: #5C5D8D;
$yellow: #FCD46F; 

$primary: $dark-blue-gray;
$secondary: $yellow;

$body-bg: $light-periwinkle;

@import "node_modules/bootstrap/scss/bootstrap";

.navbar {
  background-color: $slate-gray;
}

.card-columns {
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
}

.home-card {
  color: $body-color;
}

.card-price {
  position: absolute;
  z-index: 2;
  right: 0px;
  background-color: $secondary;
}

.home-card-img {
    position: relative;
    z-index: 1;
}

// .home-card-title {
//   white-space: nowrap;
//   text-overflow: ellipsis;
// }

.details-img {
  width: 100%;
}